@use "sass:map";

.app {
  background-color: map.get($colors, background-color);
}

::-webkit-scrollbar {
  width: 0.9rem;
  background-color: map.get($colors, background-color);
}

::-webkit-scrollbar-thumb {
  background-color: map.get($colors, accent-color);
  border-radius: 10px;
  border: 3px solid map.get($colors, background-color);
}

::-webkit-scrollbar:horizontal {
  display: none;
}

html {
  scroll-behavior: smooth;
}

.grecaptcha-badge { 
  visibility: hidden;
}