@use "sass:map";

.contact {
  padding: 15vh 5vw 8vh 5vw;
  font-family: $font-text;

  &_heading {
    @include heading;
    text-align: center;
  }

  &_information {
    display: flex;
    justify-content: space-between;
    padding-top: 10vh;

    .alignment {
      padding-top: 1.5vh;
    }

    &--name {
      @include heading;
      font-size: 1.5vw;
      padding-bottom: 1vh;
      font-weight: 400;
      text-decoration: none;
      font-family: $font-text;
    }

    &--nip {
      font-size: 1.3vw;
      padding-bottom: 10vh;
      font-weight: 300;
    }

    &--details {
      display: flex;
      align-items: center;
      padding-bottom: 2.3vh;
      font-family: $font-text;
      font-weight: 300;
    }

    &--paragraph {
      font-size: 1.3vw;
      margin-left: 1.5rem;
    }

    &--link {
      text-decoration: none;
      font-size: 1.3vw;
      color: map.get($colors, accent-color);
      border-bottom: 3px solid transparent;
      padding-top: 3px;
      margin-left: 1.5rem;
      font-weight: 300;

      &:hover {
        font-weight: 500;
      }

      &:active {
        font-weight: 100;
      }
    }

    .icon {
      height: 6vh;
    }

    .phone-numbers {
      margin-left: 1.5rem;
      
      &_number {
        text-decoration: none;
        color: map.get($colors, font-color);
      }
    }
  }
}

@media (max-width: 792px) {
  .contact {

    margin: 0 1rem;

    &_heading {
      @include mobileHeading;
      padding: 0;
    }

    &_information {
      flex-direction: column;
      align-items: center;
      margin: 0;
      text-align: center;

      &--name {
        font-size: 2rem;
        padding-bottom: 1rem;
        padding-top: 3rem;
      }

      &--nip {
        font-size: 1.1rem;
        padding-bottom: 3rem;
      }

      &--details {
        flex-direction: column;
        padding-bottom: 2.5rem;
      }

      &--paragraph {
        font-size: 1rem;
        margin: 0;
      }

      &--link {
        font-size: 1rem;
        border-radius: 30px;
        padding: 5px 20px;
        margin: 0;
      }

      .insta-link {
        padding: none;
        border-radius: none;

      }

      .icon {
        margin-bottom: 1rem;
        font-size: 1.5rem;
      }

      .phone-numbers {
        margin: 0;
        display: flex;
        flex-direction: column;
      }

      .span {
        display: none;
      }
    }
  }
}

@media (min-width: 792px) and (max-width: 1100px) {
  .contact {
    &_information {
      margin: 0 3rem;

      &--name {
        font-size: 3rem;
        line-height: 2.8rem;
      }

      &--nip {
        font-size: 1.4rem;
      }

      &--details {
        padding-bottom: 2rem;
      }

      &--paragraph {
        font-size: 1.3rem;
      }

      .icon {
        font-size: 1.8rem;
      }
    }
  }
}