@use "sass:map";

.footer {
  text-align: center;
  background-color: map.get($colors, main-color);
  padding: 2vh 0;
  font-size: 1vw;
  font-family: $font-text;
  border-top: 1px solid map.get($colors, font-color);
}

@media (max-width: 792px) {
  .footer {
      font-size: 3vw;
  }
}

// @media (min-width: 792px) and (max-width: 1100px) {
//   .footer {
//     font-size: 3.5VW;
//   }
// }