@use "sass:map";


.form {
  &_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .requests {
      display: flex;
      flex-direction: column;

      .text {
        @include text;
        font-weight: 300;
      }

      .input-fields {
        box-sizing: border-box;
        width: 50vw;
        background-color: #EFEFEF;
        border: 1px solid map.get($colors, font-color);
        border-radius: 5px;
        padding: 1rem;
        color: map.get($colors, font-color);

        &--one {
          height: 2.5rem;
          margin-bottom: 3vh;
        }

        &--two {
          height: 25vh;
        }

        &:focus {
          border: 2px solid map.get($colors, font-color);
          background-color: #D9D9D9;
        }

        resize: none;
      }
    }
  }

  .submit {
    @include btn;
    margin-top: 3vh;
    align-self: flex-end;
  }

  .positive {
    @include notification;
    border: 2px solid rgb(55, 181, 70);
    margin-top: 3vh;
    align-self: flex-end;
  }

  .negative {
    @include notification;
    border: 2px solid rgb(255, 89, 89);
    margin-top: 3vh;
    align-self: flex-end;
  }

  .grecaptcha-badge {
    opacity: 0;
  }
}

@media (max-width: 792px) {
  .attempt {
    padding: 0;
  }

  .form {
    &_content {
      .requests {
        .text {
          font-size: 3.5VW;
          align-self: flex-start;
        }

        .input-fields {
          width: 80vw;
        }
      }
    }

    .submit {
      @include mobileBtn;
      align-self: center;
    }

    .positive {
      margin-top: 1.5rem;
      align-self: center;
      font-size: 3.5vw;
      padding: .7rem 1.8rem;
    }

    .negative {
      margin-top: 1.5rem;
      align-self: center;
      font-size: 3.5vw;
      padding: .7rem 1.8rem;
    }
  }

  .grecaptcha-badge {
    opacity: 0;
  }
}

@media (min-width: 792px) and (max-width: 1100px) {

  .form {
    .submit {
      font-size: 1.5rem;
      padding: .8rem 1.8rem;
    }

    .positive {
      padding: .7rem 1.8rem;
    }

    .negative {
      padding: .7rem 1.8rem;
    }
  }

  .grecaptcha-badge {
    opacity: 0;
  }
}
