@use "sass:map";

.header.closed {
  background: linear-gradient(to bottom, map.get($colors, background-color) 50%, #f6f6f6f3 65%, #f6f6f6d9 85%, transparent 100%);
}
.header.open {
  background-color: map.get($colors, background-color);
  opacity: 95%;
}

.header {
  padding: 1vh 5vw;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6vw;

    &_logo {

      &--logo {
        height: 4.5vw;
      }
    }

    &_main-nav {
      display: flex;
      gap: 6vw;
      justify-content: center;

      &--link {
        text-decoration: none;
        font-size: 1vw;
        border-bottom: 3px solid transparent;
        padding-bottom: .3vh;
        outline: 0;
        color: map.get($colors, font-color);
        font-family: $font-text;
  
        &:hover {
          border-bottom: 3px solid map.get($colors, accent-color);
        }
      }
    }

    &_contact-nav {

      &--link {
        text-decoration: none;
        font-size: 1vw;
        padding: .9vh 1.9vw;
        border: 2px solid map.get($colors, accent-color);
        border-radius: 6px;
        color: map.get($colors, accent-color);
        font-family: $font-text;
        font-weight: 600;
        letter-spacing: .1rem;

        &:hover {
          color: map.get($colors, background-color);
          background-color: map.get($colors, accent-color);

        }
      }
    }
  }

  .mobileNavigation {
    display: none;
  }


  @media (max-width: 792px) {

    padding: 1vh 5vw 2vh 5vw;
    width: 100%;

    .computerNavigation {
      display: none;
    }

    .mobileNavigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      .icon {
        font-size: 5vh;
        align-self: center;
      }

      .navigation {
        border-top: 2px solid map.get($colors, accent-color);
        background-color: map.get($colors, background-color);
        opacity: 95%;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        top: 8vh;
        width: 100%;
        padding: 4vh;
        gap: 4vh;

        &_logo {
          display: none;

          &--logo {
            height: 5vh;
          }
        }

        &_main-nav{
          flex-direction: column;
          align-items: center;
          gap: 4vh;  

          &--link {
            font-size: 3.5vw;
            border-bottom: none;

            &:hover {
              color: map.get($colors, accent-color);
              font-weight: 500;
            }    
          }
        }

        &_contact-nav {
          
          &--link {
            font-size: 3.5vw;
            border: 1.5px solid map.get($colors, accent-color);
            font-weight: 500;
            letter-spacing: .1rem;    
          }
        }


      }
    }
  }

  // @media (min-width: 792px) and (max-width: 1100px) {
  //   padding: 0 5rem 0 3rem;
  //   height: 4.8rem;

  //   &_logo {
  //     height: 5.5rem;
  //   }

  //   .navigation {
  //     gap: 6vw;

  //     &_link {
  //       font-size: 1rem;
  //     }
  //   }
  // }
}



