@use "sass:map";

.header {
  padding: 1vh 5vw;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  background: linear-gradient(to bottom, map.get($colors, background-color), transparent);
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );

  .navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6vw;

    &_logo {

      &--logo {
        height: 4.5vw;
      }
    }

    &_main-nav {
      display: flex;
      gap: 6vw;
      justify-content: center;

      &--link {
        text-decoration: none;
        font-size: 1vw;
        border-bottom: 3px solid transparent;
        padding-bottom: .3vh;
        outline: 0;
        color: map.get($colors, font-color);
        font-family: $font-text;
  
        &:hover {
          border-bottom: 3px solid map.get($colors, accent-color);
        }
      }
    }

    &_contact-nav {

      &--link {
        text-decoration: none;
        font-size: 1vw;
        padding: .9vh 1.9vw;
        border: 2px solid map.get($colors, accent-color);
        border-radius: 6px;
        color: map.get($colors, accent-color);
        font-family: $font-text;
        font-weight: 600;
        letter-spacing: .1rem;

        &:hover {
          color: map.get($colors, background-color);
          background-color: map.get($colors, accent-color);

        }
      }
    }
  }

  .mobileNavigation {
    display: none;
  }


  @media (max-width: 792px) {

    padding: 0 2rem 0 1rem;
    width: 100%;
    height: 4.5rem;

    &_logo {
      height: 4.5rem;
    }

    .computerNavigation {
      display: none;
    }

    .mobileNavigation {
      display: flex;

      .icon {
        font-size: 2.2rem;
        align-self: center;
      }

      .navigation {
        border-top: 3px solid map.get($colors, accent-color);
        background-color: map.get($colors, background-color);
        box-sizing: border-box;
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        top: 4.5rem;
        width: 100%;
        padding: 4rem;
        gap: 6rem;

        &_logo {
          display: none;
        }
      }
    }
  }

  @media (min-width: 792px) and (max-width: 1100px) {
    padding: 0 5rem 0 3rem;
    height: 4.8rem;

    &_logo {
      height: 5.5rem;
    }

    .navigation {
      gap: 6vw;

      &_link {
        font-size: 1rem;
      }
    }
  }
}



