@use "sass:map";

.landing {
  padding: 15vh 1vw 10rem 1vw;
  text-align: center;
  color: map.get($colors, font-color);

  &_heading-one {
    @include heading;
    font-size: 3vw;
    font-weight: 600;
    padding-bottom: 0;
    letter-spacing: .6rem;
    color: map.get($colors, accent-color);
    background-color: #1e7fa8;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.555);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    line-height: 7vh;
    text-decoration: none;
  }

  &_heading-two {
    @include heading;
    font-size: 2vw;
    padding-bottom: 0;
    color: map.get($colors, font-color);
    text-decoration: none;
  }

  &_carousel {
    display: flex;
    align-items: center;
    gap: 3vw;
    padding: 4vh 0;
    overflow-x: scroll;
    margin: 0 auto;

    &--container {
      height: 40vh;
      width: 15vw;
      object-fit: cover;
    }
  }

  &_paragraph {
    font-size: 1.6vw;
    padding-bottom: 4vh;
    font-family: $font-text;
    font-weight: 300;
    line-height: 4vh;
  }

  &_button {
    @include btn;
    text-decoration: none;
  }
}

@media (max-width: 792px) {
  .landing {
      padding: 8rem 2rem 0 2rem;
      text-align: center;
  
      &_heading {
        @include mobileHeading;
        font-size: 2.5rem;
        padding-bottom: 2rem;
      }
  
      &_paragraph {
        font-size: 1.1rem;
        padding-bottom: 4rem;
        line-height: 2rem;
      }
  
      &_button {
        font-size: 1.1rem;
        padding: .8rem 1.8rem;
        text-decoration: none;
      }
    }
}

@media (min-width: 792px) and (max-width: 1100px) {
  .landing {
    padding: 9rem 4rem 0 4rem;

    &_heading {
      font-size: 4.5rem;
    }

    &_paragraph {
      font-size: 1.7rem;
      line-height: 2.7rem;
    }

    &_button {
      font-size: 1.5rem;
      padding: .8rem 1.8rem;
    }
  }
}
