@use "sass:map";

.landing {
  padding: 11rem 10rem 10rem 10rem;
  text-align: center;
  background: linear-gradient(rgba(255, 255, 255, 0.4) 70%, rgba(239, 237, 237) 100%), url();
  background-size: cover;
  background-repeat: no-repeat;

  &_heading {
    @include heading;
    font-size: 6rem;
    padding-bottom: 2rem;
    letter-spacing: .6rem;
  }

  &_paragraph {
    font-size: 2rem;
    padding-bottom: 5rem;
    font-family: $font-text;
    font-weight: 300;
    line-height: 3rem;
  }

  &_button {
    @include btn;
    text-decoration: none;
  }
}

@media (max-width: 792px) {
  .landing {
      padding: 8rem 2rem 0 2rem;
      text-align: center;
  
      &_heading {
        @include mobileHeading;
        font-size: 2.5rem;
        padding-bottom: 2rem;
      }
  
      &_paragraph {
        font-size: 1.1rem;
        padding-bottom: 4rem;
        line-height: 2rem;
      }
  
      &_button {
        font-size: 1.1rem;
        padding: .8rem 1.8rem;
        text-decoration: none;
      }
    }
}

@media (min-width: 792px) and (max-width: 1100px) {
  .landing {
    padding: 9rem 4rem 0 4rem;

    &_heading {
      font-size: 4.5rem;
    }

    &_paragraph {
      font-size: 1.7rem;
      line-height: 2.7rem;
    }

    &_button {
      font-size: 1.5rem;
      padding: .8rem 1.8rem;
    }
  }
}
