@use "sass:map";

.landing {
  padding: 17vh 1vw 5vh 1vw;
  text-align: center;
  color: map.get($colors, font-color);
  position: relative;
  overflow: hidden;

  .mobile {
    display: none;
  }

  &_heading-one {
    font-family: $font-heading;
    font-size: 1.9vw;  
    font-size: 2.8vw;
    font-weight: 500;
    padding-bottom: 1vh;
    letter-spacing: .6vw;
    color: map.get($colors, accent-color);
    background-color: #1e7fa8;
    color: transparent;
    text-shadow: 0px 2px 3px rgba(255, 255, 255, 0.555);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    line-height: 7vh;
  }

  &_heading-two {
    font-family: $font-heading;
    font-size: 1.9vw;  
    font-size: 1.8vw;
    padding-bottom: 45vh;
    color: map.get($colors, font-color);
    letter-spacing: .4vw;
  }

  &_carousel {
    height: 60vh;
    margin: auto;
    position: absolute;
    top: 32%;

    
    &--inner {
      display: flex;
      animation: scroll 45s linear infinite;
      align-items: center;

      &:hover {
        animation-play-state: paused;
      }
    }

    &--image {
      height: 42vh;
      width: 17vw;
      perspective: 5vw;
      display: flex;
      padding: 15px 15px;
      transition: transform 1s;

      &:hover {
        margin: 0 30px;
        transform: scale(1.5);
      }
    }

    img {
      width: 100%;
      // transition: transform 1s;

      // &:hover {
      //   transform: scale(1.7);
      //   z-index: 9999999;
      // }
    }

    @keyframes scroll {
      to {
        transform: translate(calc(-50% - .1vw));
      }
    }
  }


  &_paragraph {
    font-size: 1.4vw;
    padding-bottom: 5vh;
    font-family: $font-text;
    font-weight: 300;
    line-height: 4vh;
  }

  &_button {
    @include btn;
    text-decoration: none;
  }
}


@media (max-width: 792px) {
  .landing {
      padding: 13vh 5vw 5vh 5vw;
      text-align: center;
      position: static;

      .laptop {
        display: none;
      }

      .mobile {
        display: flex;
      }
  
      &_heading-one {
        font-size: 10vw;
        padding-bottom: 1vh;
        font-family: $font-heading;
        letter-spacing: .2rem;   
        text-decoration: none   
      }

      &_heading-two {
        @include mobileHeading;
        padding-bottom: 0;
        border-bottom: none;
      }

      &_carousel {
        display: flex;
        align-items: center;
        gap: 3vw;
        padding: 5vh 0 5vh 0;
        overflow-x: scroll;
        position: static;
        height: auto;

        &--inner {
          display: block;
        }

        img {
          height: 45vh;
          width: 60vw;
          object-fit: cover;
        }
      }
  
      &_paragraph {
        font-size: 4vw;
        padding-bottom: 4vh;
      }
  
      &_button {
        @include mobileBtn;
      }
    }
}

// @media (min-width: 792px) and (max-width: 1100px) {
//   .landing {
//     padding: 9rem 4rem 0 4rem;

//     &_heading {
//       font-size: 4.5rem;
//     }

//     &_paragraph {
//       font-size: 1.7rem;
//       line-height: 2.7rem;
//     }

//     &_button {
//       font-size: 1.5rem;
//       padding: .8rem 1.8rem;
//     }
//   }
// }
