$colors: (
  background-color: #f6f6f6,
  main-color: #f0f0f0,
  accent-color: #66A3BB,
  font-color: #242424,
  font-second-color: #534333,
);

$font-heading: 'Montserrat', sans-serif;
$font-text: 'Montserrat', sans-serif;
