@use "sass:map";


// CTA //

@mixin btn {
  text-decoration: none;
  font-size: 1vw;
  padding: 1.5vh 2vw;
  border: 2px solid map.get($colors, accent-color);
  border-radius: 6px;
  color: map.get($colors, background-color);
  font-family: $font-text;
  font-weight: 600;
  letter-spacing: .1rem;
  background-color: map.get($colors, accent-color);

  &:hover {
    color: map.get($colors, accent-color);
    background-color: map.get($colors, background-color);
  }

  &:active {
    color: map.get($colors, background-color);
    background-color: map.get($colors, accent-color);  
  }
}

@mixin mobileBtn {
  text-decoration: none;
  font-size: 3.5vw;
  padding: 1.5vh 3vw;
  border: 2px solid map.get($colors, accent-color);
  border-radius: 6px;
  color: map.get($colors, background-color);
  font-family: $font-text;
  font-weight: 500;
  letter-spacing: .1rem;
  background-color: map.get($colors, accent-color);

  &:active {
    color: map.get($colors, accent-color);
    background-color: map.get($colors, background-color);  
  }
}

@mixin notification {
  text-decoration: none;
  font-size: .9vw;
  padding: 1.4vh 2vw;
  border-radius: 6px;
  font-family: $font-text;
  font-weight: 600;
  letter-spacing: .1rem;
  color: map.get($colors, text-color);
  background-color: map.get($colors, background-color);
}


// HEADING //

@mixin heading {
  font-family: $font-heading;
  font-size: 1.9vw;
  font-weight: 400;
  border-bottom: 3px solid map.get($colors, accent-color);
}

@mixin mobileHeading {
  font-family: $font-heading;
  font-size: 6vw;
  padding-bottom: .5vh;
  letter-spacing: .2rem;
  font-weight: 400;
  border-bottom: 2px solid map.get($colors, accent-color);
}


// TEXT //

@mixin text {
  font-size: 1.2vw;
  font-weight: 300;
  font-family: $font-text;
}
