@use "sass:map";

@mixin btn {
  text-decoration: none;
  font-size: 1.1vw;
  padding: 1.5vh 2vw;
  border: 2px solid map.get($colors, accent-color);
  border-radius: 8px;
  color: map.get($colors, background-color);
  font-family: $font-text;
  font-weight: 600;
  letter-spacing: .1rem;
  background-color: map.get($colors, accent-color);

  &:hover {
    box-shadow: 0 3px 6px map.get($colors, font-second-color);
  }

  &:active {
    border: 2px solid map.get($colors, font-second-color);
  }
}

@mixin heading {
  font-family: $font-heading;
  font-size: 2vw;
  text-decoration: underline map.get($colors, accent-color) 3px;
  text-underline-offset: 1vh;
}

@mixin mobileHeading {
  font-family: $font-heading;
  font-size: 2.2rem;
  padding-bottom: 4rem;
  letter-spacing: .2rem;
}


// TEXT //

@mixin text {
  font-size: 1.3vw;
  font-weight: normal;
  font-family: $font-text;
}
