@use "sass:map";


// CTA //

@mixin btn {
  text-decoration: none;
  font-size: 1vw;
  padding: 1.5vh 2vw;
  border: 2px solid map.get($colors, accent-color);
  border-radius: 6px;
  color: map.get($colors, background-color);
  font-family: $font-text;
  font-weight: 600;
  letter-spacing: .1rem;
  background-color: map.get($colors, accent-color);

  &:hover {
    color: map.get($colors, accent-color);
    background-color: map.get($colors, background-color);
  }

  &:active {
    color: map.get($colors, background-color);
    background-color: map.get($colors, accent-color);  
  }
}


// HEADING //

@mixin heading {
  font-family: $font-heading;
  font-size: 1.9vw;
  text-decoration: underline map.get($colors, accent-color) 3px;
  text-underline-offset: 1vh;
}

@mixin mobileHeading {
  font-family: $font-heading;
  font-size: 2.2rem;
  padding-bottom: 4rem;
  letter-spacing: .2rem;
}


// TEXT //

@mixin text {
  font-size: 1.2vw;
  font-weight: 300;
  font-family: $font-text;
}
