@use "sass:map";

.services {
    padding: 15vh 5vw 3vh 5vw;
    text-align: center;
    font-family: $font-text;
    font-weight: 300;

    &_heading {
        @include heading;
    }

    &_info {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 9vw;
        grid-auto-rows: minmax(100px, auto);
        padding: 10vh 5vw 0 5vw;

        &--detailes {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: left;

            .img {
                height: 7vh;
            }

            .title {
                font-size: 1.4vw;
                padding: 3vh 0 0 0;
                border-bottom: 2px solid map.get($colors, accent-color);
                text-underline-offset: 1vh;
            }

            .list {
                font-size: 1.2vw;
                padding-top: 3.5vh;
            }
        }
    }

    &_additional {
        padding-top: 10vh;
        font-size: 1.2vw;
    }
}

@media (max-width: 792px) {
    .services {
        padding: 12vh 5vw 0 5vw;
        text-align: center;
        font-family: $font-text;
        font-weight: 300;
    
        &_heading {
            @include mobileHeading;
        }
    
        &_info {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 9vw;
            grid-auto-rows: minmax(100px, auto);
            padding: 10vh 5vw 0 5vw;
    
            &--detailes {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: left;
    
                .img {
                    height: 7vh;
                }
    
                .title {
                    font-size: 4vw;
                    padding: 3vh 0 0 0;
                    border-bottom: 1px solid map.get($colors, accent-color);
                }
    
                .list {
                    font-size: 3.5vw;
                    padding: 3vh 0 5vh 0;
                }
            }
        }
    
        &_additional {
            padding-top: 3vh;
            font-size: 3.5vw;
            text-align: justify;
        }
    }
}

@media (min-width: 792px) and (max-width: 1100px) {
    .services {
        padding: 15vh 5vw 3vh 5vw;
        text-align: center;
        font-family: $font-text;
        font-weight: 300;
    
        &_heading {
            @include heading;
            padding-bottom: 5vh;
            font-weight: 400;
        }
    
        &_info {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 6vw;
            grid-auto-rows: minmax(100px, auto);
            padding: 5vh 5vw 0 5vw;
    
            &--detailes {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: left;
    
                .img {
                    height: 7vh;
                }
    
                .title {
                    font-size: 1.4vw;
                    padding: 3vh 0;
                    text-decoration: underline map.get($colors, accent-color) 2px;
                    text-underline-offset: 1vh;
                }
    
                .list {
                    font-size: 1.2vw;
                }
            }
        }
    
        &_additional {
            padding-top: 10vh;
            font-size: 1.2vw;
        }
    }

}